#root {
  width: 70%;
  margin: auto;
}

/*rel positioning for child elements*/
.form-header-styling {
  position: relative;
  background-color: #B5D3D9;
  z-index: 10;
  border: 1px solid #000000;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 70%;
  margin: auto;
}

.form-header-movement {
  position: relative;
  bottom: 160px;
  z-index: 10;
}

.form-bottom-element {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-top: 5px;
  background-color: #CAEBF2;
  border: 1px solid #000000;
  border-top: none;
  width: 15%;
  height: 35px;
  margin: auto;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  position: absolute;
  left: 42.5%;
  bottom: -35px;
  z-index: 1;
}

 /*CSS STYLE ASSISTANCE FOUND: https://codepen.io/Dreamdealer/pen/yEmwd*/
.main-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}
.main-title:after {
  content:"PhotoFall";
  position: absolute;
  width: 100%;
  left: 1%;
  top: 8px;
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

.main-content {
  background-color: #CAEBF2;
  border: solid 1px #000000;
  position: relative;
  bottom: 100px;
  z-index: 0;
}

.images {
  width: 100%;
  height: auto;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 1px #000000;
}

.photo-caption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 42px;
  font-weight: bold;
  border: 1px dashed #000000;
  margin-top: 15px;
}

.photo-caption:before, .photo-caption:after {
    content: '"';
}

.photo-block {
  padding-bottom: 20px;
  border-bottom: double 3px #000000;
}

.modal-content {
  height: 30%;
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

.modal-title {
  font-size: 50px;
  text-align: center;
}
